<div class="card">
  <img class="card-img-top img-fluid" src="<%- image.imgur_link %>" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title"><%- image.title %></h4>
    <p class="card-text"><%- image.description %></p>
  </div>
</div>