<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>

  <%- include('../partials/gallery.ejs', {results: results}) %>
</body>
</html>
